* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas {
    border: 1px solid lightskyblue;
    cursor: crosshair;
}

.toolbox {
    width: 800px;
    height: 5rem;
    background-color: lightcyan;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toolbox>*:last-child {
    margin-left: auto;
}

.toolbox * {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    padding: 0.3rem;
    background-color: white;
    color: lightskyblue;
    border: none;
    cursor: pointer;
    margin: 0 .3rem;
    text-align: center;
}


.toolbox button:hover {
    border: 1px solid lightblue;
}